# Point @niuulabs scoped packages at GitHub Packages.
# Consumers need a personal access token (read:packages scope) to authenticate.
# Set NODE_AUTH_TOKEN or add to ~/.npmrc:
#   //npm.pkg.github.com/:_authToken=<YOUR_TOKEN>
@niuulabs:registry=https://npm.pkg.github.com
